.bar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 15vh;
}

.bar-header {}

.bar-footer {
  margin-top: auto;
}

.bar-hidden {
  display: none;
}

.bar__title {
  font-size: 73px;
  font-weight: 500;
  color: var(--mainTextColor);
}
