.form {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  white-space: nowrap;
  font-size: 38px;
  padding: 1rem;

  &.is-invalid {
    border: 2px solid var(--dangerColor);
  }
}

.form__input {
  font-family: var(--mainTextFontFamily);
}

.form_submit__button {
  align-self: center;
}

.form__error-label {
  justify-self: center;
  align-self: center;
  color: var(--dangerColor);
}

.form__success-label {
  justify-self: center;
  align-self: center;
  color: var(--successColor);
}
